<%= stylesheet_link_tag "components/navbar" %>
<nav id="nav-bar" class="navbar">
  <div class="nav-wrapper grey darken-4">
    <a href="/" class="logo">S<span class="name">plash</span></a>
    <ul id="nav-mobile" class="right">
      <li>
        <a href="/">
          <i class="material-icons">search</i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="material-icons">add</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
